{% load i18n %}{% autoescape off %}

{% trans "Hi" %} {{ user.get_username }},

{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
If you didn't make this request, you can safely ignore this email. Otherwise, click the button below to reset your password.
{% endblocktranslate %}


{% block reset_link %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock reset_link %}
{% translate "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}